* {
    background-color: gray;
}

/* table,
tr,
td {
    background-color: rgb(17, 17, 17);
    border: 5px solid rgb(6, 7, 5);
    border-radius: 2px;
    padding: 1px;
} */

td {
    border-radius: 1px;
    color: rgb(0, 255, 34);
    background-color: rgb(63, 63, 63);
    font-family: sans-serif;
} 

table {
    border-collapse: collapse;
    width: 100%;
}

th, td {
    text-align: left;
    padding: 8px;
}

tr:nth-child(even){background-color: #f2f2f2}

th {
    background-color: rgb(42, 43, 42);
    color: white;
}