* {
    font-family: Helvetica, sans-serif;
    background-color: rgb(3, 11, 117);
}

h1 {
    color: rgb(60, 255, 0);
    font-size: 1.5em;
}
h2 {
    color: rgb(60, 255, 0);
    font-size: 1.1em;
}

h3 {
    color: rgb(60, 255, 0);
    font-size: 1.1em;
}

p {
    color: white;
    text-indent: 50px;
}

ul {
    color: white;
}

section {
    width: 500px;
 }

 ol {
    color: white;
}